.load {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:0px;
  height:0px;
  border-radius:100%;
  opacity:0;
  border:5px solid rgb(221, 41, 41);
  animation:anim 3s  linear;
}

.by__loader {
  width: 100%;
  position:absolute;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.by__loader div span {
  color: var(--first-color);
  font-weight: bold;
}

.loader__corazon {
  font-size: 25px;
}

@keyframes anim {
  0% {
    opacity:0.9;
    width:0vmin;
    height:0vmin;
  }
  10% {
    opacity:0.9;
  }
  40% {
    opacity:0.4;
  }
  100% {
    opacity:0.0;
    width:100vmin;
    height:100vmin;
  }
}

div.load:nth-child(1) { animation-delay:200ms; }
div.load:nth-child(2) { animation-delay:400ms; }
div.load:nth-child(3) { animation-delay:600ms; }
div.load:nth-child(4) { animation-delay:800ms; }
div.load:nth-child(5) { animation-delay:1000ms; }
